@import "src/index";
$color-check-mark:#0EC261;

.order-list{
  display: grid;
  grid-template-rows: 0.1fr 3fr 0.1fr;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px $color-shadow;
  padding: 25px;

  .orders{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px 0;
    .order{
      display: grid;
      grid-template-columns: 1fr 3fr 1fr 1.5fr 1.5fr;
      grid-template-rows: 1fr;
      .img{
        display: flex;
        justify-content: center;
        img{
          max-width: 100%;
          max-height: 90%;
        }
      }
      .info{
        padding-left: 20px;
        color: $third-color;
        span{
          color: black;
        }
      }
      .additional{
        label{
          display: flex;
          flex-direction: column;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          font-size: 16px;
          color: gray;
          font-weight: normal;
          &.active{
            color: black;
            font-weight: bold;
            .check-mark{
              border: $color-check-mark 2px solid;
              &:after{ display: block;}
            }
          }
        }
        input {
          position: absolute;
          opacity: 0;
          height: 0;
          width: 0;
        }
        .check-mark{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          border: $color-select 1px solid;

          &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid black;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
      .price{
        justify-self: center;
      }
      .buttons{
        display: flex;
        align-items: flex-start;
        button{
          display: flex;
          gap: 5px;
          padding: 5px 10px;
          border: 1px $color-select solid;
          color: $color-btn;
          &:first-child{
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
          }
          &:last-child{
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
          }
          svg{
            align-self: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1285px){
  .order-list{
    .orders{
      .order{
        grid-template-columns: 1.5fr 3fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-gap: 10px;
        .buttons{
          grid-area: 2/2/3/4;
          justify-content: center;
          align-items: flex-end;
        }
        .price{
          align-self: flex-end;
        }
        .additional label{
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1078px){
  .order-list{
    .orders .order .img img{
      max-height: 60%;
    }
  }
}

@media screen and (max-width: 425px){
  .order-list{
    height: 100%;
    .orders{
      .order{
        grid-template-rows: repeat(3,1fr) 0.5fr 0.5fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 10px;
        .img{
          grid-area: 1/1/2/4;
          img{
            max-width:200px;
            max-height: 200px;
          }
        }
        .info{
          grid-area: 2/1/3/4;
        }
        .additional{
          grid-area: 3/1/4/4;
          justify-self: center;
        }
        .price{
          grid-area: 4/1/5/4;
        }
        .buttons{
          grid-area: 5/1/6/4;
        }
      }
    }
  }
  .footer>span{
    text-align: right;
  }
}