@import "src/index";
.refactor-entities{
  display: grid;
  grid-template-rows: 3fr 0.2fr;
  grid-row-gap: 30px;
  padding: 10px;

  &__buttons{
    display: grid;
    grid-template: 1fr/2.5fr 2.5fr 0.5fr;
    grid-column-gap: 5px;
    align-self: flex-end;
    button{
      height: 40px;
      width: 130px;
      border-radius: 5px;
      font-size: 16px;
      border: none;
      color: white;
      &.edit{
        justify-self: flex-end;
        background-color: $main-color;
        &:disabled{
          opacity: 0.4;
        }
      }
      &.back{
        color: black;
      }
      &.delete{
        background-color: $color-btn-error;
      }
    }
  }
}

@media screen and (max-width: 425px){
  .refactor-entities{
    &__buttons{
      grid-template: 0.2fr 0.2fr/2.5fr 0.5fr;
      button{
        &.back{
          grid-area: 2/1/3/2;
        }
        &.edit{
          justify-self: flex-start;
        }
        &.delete{
          grid-area: 1/2/3/3;
          align-self: center;
        }
      }
    }
  }
}