@import "src/index";
.point-card{
  .vew-point-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    .select{
      display: flex;
      flex-direction: column;
      &>div{
        @extend %style-select;
        select{
          height: 35px;
          width: 100%;
          &.error{
            border-color: $color-error;
          }
        }
      }
      .necess{
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .point-card {
    .vew-point-card {
      grid-template: repeat(3,0.5fr)/1fr;
    }
  }
}