@import "src/index";
.footer{
  display: flex;
  justify-content: space-between;
  padding: 0 25px 10px;
  grid-area: 3/2/4/3;
  width: 100%;
  box-shadow: 1px 2px 5px 3px $color-shadow;

  &-main{
    display: flex;
    gap: 15px;
    align-items: center;
    a{
      color: #4da1ff;
    }
  }

  span{
    color: $third-color;
    align-self: center;
  }
}

@media screen and (max-width: 425px){
  .footer{
    &-main{
      flex-direction: column;
      align-items: flex-start;
    }
    span{
      align-self: center;
    }
  }
}