@import "src/index";
.footer{
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  grid-area: 3/2/4/3;
  width: 100%;

  &-main{
    display: flex;
    gap: 15px;
    color: $main-color;
  }

  span{
    color: #818EA3;
  }
}